<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .center-content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        padding-left: 150px;
      }

      .buttonListar {
        background-color: gray;
        color: white;
        border: 1px solid gray;
      }
    </style>
  </head>
  <body>
    <div class="center-content">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">Alergia</th>
            <th scope="col">Nome do Responsável</th>
            <th scope="col">Contato do Responsável</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-active">
            <td>Mark</td>
            <td>19/06/2004</td>
            <td>dipirona</td>
            <td>joao</td>
            <td>(81) 97152-5627</td>
          </tr>
          <tr class="table-active">
            <td>Mark</td>
            <td>19/06/2004</td>
            <td>dipirona</td>
            <td>joao</td>
            <td>(81) 97152-5627</td>
          </tr>
          <tr class="table-active">
            <td>Mark</td>
            <td>19/06/2004</td>
            <td>dipirona</td>
            <td>joao</td>
            <td>(81) 97152-5627</td>
          </tr>
          <tr class="table-active">
            <td>Mark</td>
            <td>19/06/2004</td>
            <td>dipirona</td>
            <td>joao</td>
            <td>(81) 97152-5627</td>
          </tr>
          <tr class="table-active">
            <td>Mark</td>
            <td>19/06/2004</td>
            <td>dipirona</td>
            <td>joao</td>
            <td>(81) 97152-5627</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="center-content">
      <button class="buttonListar">Deseja cadastrar outra criança?</button>
    </div>
  </body>
</html>
